body {
	background-color: #272727;
	color: white;
	display: flex;
	justify-content: center;
	padding-top: 2.5vh;
}
.window-wrapper {
	background: #282c34;
	border-radius: 4px;
	font-family: "Source Code Pro", monospace;
	padding: 1ch;
	width: 95%;
	height: 90vh;
}
.window-title {
	height: 3vh;
	width: 100%;
}
#nav_desktop {
	float: right;
	width: 60%;
	height: 100%;
}
#nav_mobile {
	display: none;
}
nav a {
	width: 25%;
	display: inline-block;
	border-left: 1px solid #111;
	box-sizing: border-box;
	text-align: center;
	border-bottom: 1px solid #111;
	text-decoration: none;
	font-family: monospace;
	box-shadow: #222 2px 2px 2px;
}
#nav_desktop a {
	font-size: 2.5vh;
}
#nav_mobile a {
	font-size: 3vh;
}
nav span {
	color: #999;
}
nav a:active {
	box-shadow: #222 -1px -2px 1px;
	border-bottom: none;
	border-left: none;
}
nav a:active span {
	position: relative;
	top: 2px;
	left: 2px;
}
.button {
	border: solid 2px #999;
	border-radius: 50%;
	display: inline-block;
	height: 0.5em;
	margin-top: 0;
	width: 0.5em;
}
.terminalScreen {
	font-size: 16px;
	width: 100%;
	height: 85vh;
}
.line {
	margin: 0 0 0 60px;
	overflow: hidden;
	-moz-overflow: hidden;
	position: relative;
	width: 0;
	top: 0;
	left: 0;
	height: 18px;
}
wbr {
	display: none;
}
span[class^='cursor'], span[class*=' cursor']{
	font-weight: bold;
}
li {
	width: 100%;
	line-height: 18px;
}
ol {
	color: #4b5364;
	list-style-type: none;
	margin-left: -5.5em;
	margin: 10px 0 10px 0;
}
ol li::before {
	padding-left: 0px;
	text-align: right;
	position: absolute;
}
ol > li {
	counter-increment: customlistcounter;
}
ol > li:before {
	content: counter(customlistcounter) " ";
	float: left;
	font-weight: bold;
	width: 3em;
}
ol:first-child {
	counter-reset: customlistcounter;
}
.pink {
	color: #ff79c6;
}
.white {
	color: #f8f8f2;
}
.blue {
	color: #66d9ef;
	font-style: italic;
}
.orange {
	color: #ffb86c;
	font-style: italic;
}
.purple {
	color: #bd93f9;
}
.yellow {
	color: #f1fa8c;
}
.babyBlue {
	color: #8be9fd;
	font-style: italic;
}
.green {
	color: #50fa7b;
}

@-webkit-keyframes blink {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@-moz-keyframes blink {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@-o-keyframes blink {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes blink {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@-webkit-keyframes type {
	to {
		width: calc(95vw - 110px);
	}
}
@-moz-keyframes type {
	to {
		width: calc(95vw - 110px);
	}
}
@-o-keyframes type {
	to {
		width: calc(95vw - 110px);
	}
}
@keyframes type {
	to {
		width: calc(95vw - 110px);
	}
}

@media (max-width:600px) {
	#nav_desktop {
		display: none !important;
	}
	#nav_mobile {
		display: block;
		height: 5vh;
		position: absolute;
		width: 100vw;
		top: 0;
		left: 0;
	}
	.window-wrapper {
		height: 86vh;
		margin-top: 4vh;
	}
	#terminalOL {
		padding-left: 0;
	}
}

@media (max-width:1000px) {
	.line {
		width: calc(95vw - 110px);
		height: auto;
	}
	wbr {
		display: block;
	}
}