@charset "UTF-8";

* {
    margin: 0;
}

body {
    font-family: Arial, Helvetica, serif;
    margin: auto;
    max-width: 800px;
}

h1 {
    font-size: 2.2rem;
    margin: 1rem;
}


h2 {
    font-size: 1.6rem;
    margin: 1rem;
}

h3 {
    font-size: 1.3rem;
    margin: 1rem;
}

h4,
h5,
h6 {
    margin: 1rem;
}

img {
    max-width: 100%;
}

nav li {
    display: inline-block;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: right;
}

nav a {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1rem;
    text-decoration: none;
}

p {
    font-size: 1.1rem;
    margin: 1rem;
}

.margin {
    margin: 1rem;
}

.margin * {
    margin: 0;
}

.no-margin {
  margin: 0;
}